body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  /* text-align: center; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  padding: 2px 25px;
  /* position: sticky; */
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
  color: #f13564;
}

.navbar .links {
  margin-left: auto;
}

.navbar a{
  margin-left: 15px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f13564;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  /* z-index: -1; */
}

.btnClick {
  background-color: #f13564;
  color: #f2f2f2;
  border-radius: 4px;
  padding: 6px;
  border: 1px solid #f13564;
  cursor: pointer;
}

.btnClick:hover {
  background-color: #f14;
  color: white;
}


.blog-preview {
  padding: 18px 15px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  cursor: pointer;
}


.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}


.blog-preview h2 {
  font-size: 20px;
  color: #f14;
  margin-bottom: 8px;
}


.blog-preview a{
  text-decoration: none;
  color: inherit;
}

.blog-details {
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;

}

.create {
  max-width: 400px;
  margin: 0;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #f13564;
  margin-bottom: 30px;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  margin-top: 10px;
  background-color: #f14;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.blog-details h2 {
  color: #f14;
}

.blog-details button {
  background-color: #f14;
  color: #ddd;
  border: 0;
  padding: 10px;
  cursor: pointer;;
}










